[submodule "vaccelrt"]
	path = vaccelrt
	url = https://github.com/cloudkernels/vaccelrt.git
[submodule "firecracker"]
	path = firecracker
	url = https://github.com/cloudkernels/firecracker.git
[submodule "virtio-accel"]
	path = virtio-accel
	url = https://github.com/cloudkernels/virtio-accel.git
[submodule "vaccel-grpc"]
	path = vaccel-grpc
	url = https://github.com/cloudkernels/vaccel-grpc.git
[submodule "vaccelrt-client"]
	path = vaccelrt-client
	url = https://github.com/cloudkernels/vaccelrt-client.git
[submodule "agent"]
	path = agent
	url = https://github.com/cloudkernels/vaccelrt-agent
[submodule "plugins/vaccelrt-plugin-vsock"]
	path = plugins/vaccelrt-plugin-vsock
	url = https://github.com/nubificus/vaccelrt-plugin-vsock.git
[submodule "plugins/vaccelrt-plugin-virtio"]
	path = plugins/vaccelrt-plugin-virtio
	url = https://github.com/nubificus/vaccelrt-plugin-virtio.git
[submodule "plugins/vaccelrt-plugin-jetson"]
	path = plugins/vaccelrt-plugin-jetson
	url = https://github.com/nubificus/vaccelrt-plugin-jetson.git
[submodule "bindings/rust-bindings"]
	path = bindings/rust-bindings
	url = https://github.com/cloudkernels/vaccel-bindings.git
[submodule "plugins/vaccelrt-plugin-tensorflow"]
	path = plugins/vaccelrt-plugin-tensorflow
	url = https://github.com/nubificus/vaccelrt-plugin-tensorflow.git
