[submodule "vaccelrt"]
	path = vaccelrt
	url = git@github.com:cloudkernels/vaccelrt.git
[submodule "firecracker"]
	path = firecracker
	url = git@github.com:cloudkernels/firecracker.git
[submodule "virtio-accel"]
	path = virtio-accel
	url = git@github.com:cloudkernels/virtio-accel.git
[submodule "vaccel-grpc"]
	path = vaccel-grpc
	url = git@github.com:cloudkernels/vaccel-grpc.git
[submodule "vaccelrt-client"]
	path = vaccelrt-client
	url = git@github.com:cloudkernels/vaccelrt-client.git
[submodule "agent"]
	path = agent
	url = git@github.com:cloudkernels/vaccelrt-agent
